h2 Contributors

table.table
  foreach contributors as contributor
    tr
      th
        a(href='#{contributor.route()}')= contributor.name()
      td #{contributor.contributionCount()} contributions

