<head>
  <title>devdev.io</title>
  <!-- Favicon and related -->
  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-114x114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-114x114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-144x144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-144x144.png" />
  <link rel="shortcut icon" href="//d16azfexq1dof6.cloudfront.net/img/favicon.ico" />
  <!-- / favicon -->

  <meta charset="UTF-8" />
  <meta name="google" content="notranslate"/>
  <meta http-equiv="Content-Language" content="en" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <script type='text/javascript' async='true' src='//widget.uservoice.com/jCnW3z44mz0TVoFtACu3HQ.js'></script>
</head>

<body>
  {{> setup}}
</body>

<template name='layout'>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{{pathFor 'welcome'}}">devdev.io</a>
        <ul class="nav">
          <li><a href="{{pathFor 'tools'}}" data-href-aliases="/tool">Tools</a></li>
          <li><a href="{{pathFor 'users'}}" data-href-aliases="/users">Users</a></li>
        </ul>
        <div class="pull-right">
          {{loginButtons}}
        </div>
        <ul class="nav pull-right">
          <li>{{> search-form}}</li>
          <li class="divider-vertical"></li>
          <li><a href="{{pathFor 'about'}}">About</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        {{{yield}}}
      </div>
    </div>
  </div>
</template>

<template name="setup">
</template>
