<head>
  <title>devdev.io</title>
  <script type='text/javascript' async='true' src='//widget.uservoice.com/jCnW3z44mz0TVoFtACu3HQ.js'></script>
  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-114x114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-114x114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-144x144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="//d16azfexq1dof6.cloudfront.net/img/devdev-logo-144x144.png" />
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate"/>
  <meta http-equiv="Content-Language" content="en" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <!-- <link href="//d16azfexq1dof6.cloudfront.net/css/typeahead.js-bootstrap.css" rel="stylesheet"> -->
  <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">devdev.io</a>
        <ul class="nav">
          <li><a href="/technologies" data-href-aliases="/technology">Technologies</a></li>
          <li><a href="/contributors" data-href-aliases="/contributor">Contributors</a></li>
        </ul>
        <div class="pull-right">
          {{loginButtons}}
        </div>
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        {{renderPage}}
      </div>
    </div>
  </div>
  {{> setup}}
</body>

<template name="setup"></template>
