<template name='logoEditable'>
    {{#if hasLogo}}
      {{#if canEditLogo}}
        <a class="close tool-logo-delete" rel='tooltip' title='Remove Logo (you may upload another one)'>&times;</a>
      {{/if}}
      <a class='tool-logo' href='{{route}}'>
        {{{imgPolaroid h=40}}}
      </a>
    {{else}}
      {{#if canEditLogo}}
        <input class='filepicker'
             type='filepicker'
             data-fp-button-text='Pick Logo'
             data-fp-mimetypes='image/*'
             data-fp-container='modal'
             data-fp-button-class='btn btn-small'
             data-fp-multiple='false'
             data-fp-store-location='S3'
             data-fp-store-path='{{storePath}}'
             data-fp-store-access='public'
             data-fp-services='COMPUTER,IMAGE_SEARCH,URL'>
        </input>
      {{/if}}
    {{/if}}
</template>
