<template name='technologies'>
<div class='technologies-page-actions pull-right'>
  <button id='add-technology' class='btn btn-primary {{disableAnonymous}}'>Add Technology</button>
</div>
<h2>Technologies</h2>
{{#if isAdmin}}
  <div class='admin pull-right'>
    <button id='index-all-technologies' class='btn'>
      <i class='icon-cog'></i> Index All
    </button>
  </div>
{{/if}}

<table class='table'>
  <tbody>
    {{#each technologies}}
      <tr>
        <td class='technology-logo-small'>
          <a href='{{route}}'>{{{imgPolaroid}}}</a>
        </td>
        <th>
          <a href='{{route}}'>{{name}}</a>
        </th>
        <td class='tags'>
          <div>
            {{#each getTagsForAspectDefId 'stack'}}
              <a class='label label-stack' href='{{tagLink .  "stack"}}'>{{.}}</a>
            {{/each}}
          </div>
          <div>
            {{#each getTagsForAspectDefId 'vertical'}}
              <a class='label label-vertical' href='{{tagLink . "vertical"}}'>{{.}}</a>
            {{/each}}
          </div>
        </td>
        <td>
          Started by <a href='{{creator.route}}'>{{creator.name}}</a>, {{timeAgo createdAt}}
          <small class='muted'>(Last modified {{timeAgo updatedAt}})</small>
        </td>
        <td class='used-by'>
          {{#each usedBy}}
            <a class='contributor-xsmall pull-left' href='{{route}}' rel='tooltip' title='Used by {{name}}'>
              <img class='img-polaroid' src='{{photoUrl 20}}'/>
            </a>
          {{/each}}
        </td>
        <td>
          <button class='btn btn-small i-use-it {{disableAnonymous}} {{iUseItClass .}}'>
            <i class='icon-white icon-thumbs-up'></i>&nbsp;I&nbsp;Use&nbsp;It
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>