<template name='technology'>
  <div class='technology-page-actions pull-right'>
    <button class='btn i-use-it {{btnEnabledDisabledClass}} {{iUseItClass}}'>
      <i class='icon-white icon-thumbs-up'></i>
      <span class='text'> I Use It</span>
    </button>
    <button id='follow-technology' class='btn disabled not-implemented'>Follow {{technology.name}}</button>
    <a id='share' class='btn' href="{{twitterShareUrl}}" target="_blank">
      <i class='icon-twitter'></i> Share {{technology.name}}
    </a>
    {{#if isAdmin}}
      <button id='index-technology' class='btn'>
        <i class='icon-cog'></i> Index
      </button>
    {{/if}}
  </div>

  <h1 class='name'>
    <a class='pull-left technology-logo' href='{{technology.route}}'>
      {{{imgPolaroid h=40}}}
    </a>
    <div id='technology-name' class='pull-left' contenteditable='{{technology.nameEditableByCurrentUser}}'>{{technology.name}}</div>
  </h1>
  <div class='clearfix' style='margin:5px'></div>
  <table class='table'>
    <tbody>
      {{#if loggedIn}}
        <tr class='aspect'>
          <th>
            <div class='control-group'>
              <input id='new-aspect-name' type='text' placeholder='Add aspect&hellip; (? for help)'/>
              <div>
                <small class='help' id='new-aspect-help'></small>
              </div>
            </div>
          </th>
          <td class='aspect-data'>
            <div id='new-aspect-adder'>
              {{#with newAspect}}
                {{#aspectEditor aspect=. jqpath='#new-aspect-adder'}}{{/aspectEditor}}
              {{/with}}
            </div>
          </td>
        </tr>
      {{/if}}
      <tr class='used-by'>
        <th>Used By</th>
        <td>
          {{#each technology.usedBy}}
            <a class='contributor-dense pull-left' href='{{route}}' rel='tooltip' title='Used by {{name}}'>
              <img class='img-polaroid' src='{{photoUrl 40}}'/>
            </a>
          {{else}}
            <button class='btn i-use-it {{btnEnabledDisabledClass}}'>
              <i class='icon-white icon-thumbs-up'></i> Be the first to use it
            </button>
          {{/each}}
        </td>
      </tr>

      {{#each technology.aspects}}
        <tr class='aspect'>
          <th>
            <span class='aspect-name' rel='tooltip' title='{{helpText}}'>{{name}}</span>
          </th>
          <td class='aspect-data existing-data'>
            {{#each contributions}}
              {{#unless deletedAt}}
                <div class='contribution' style='border-left-color: {{contributor.color}}'
                     rel='tooltip' data-placement='left'
                     title='{{contributor.name}}'>
                  <div class='contribution-actions pull-right'>
                    {{#if isCurrentUserOwner}}
                      <a class='action not-implemented' href='javascript:void(0)' title='Edit your contribution'>
                        <i id='edit-aspect-contribution' class='icon-edit disabled'></i>
                      </a>
                      <a class='action' href='javascript:void(0)' title='Delete your contribution'>
                        <i class='icon-trash'></i>
                      </a>
                    {{else}}
                      <a class='not-implemented action' href='javascript:void(0)' title='Vote up'>
                        <i id='vote-up-aspect-contribution' class='icon-thumbs-up disabled'></i>
                      </a>
                      <a class='not-implemented action' href='javascript:void(0)' title='Vote down'>
                        <i id='vote-down-aspect-contribution' class='icon-thumbs-down disabled'></i>
                      </a>
                    {{/if}}
                  </div>
                  <p class='contribution'>
                    <small class='pull-right muted'>
                      {{timeAgo updatedAt}}
                    </small>
                    <div id='aspect-view-{{../id}}'>
                      {{#aspectContributionViewer contribution=.}}{{/aspectContributionViewer}}
                    </div>
                  </p>
                </div>
              {{/unless}}
            {{/each}}
            {{#if loggedIn}}
              <div id='aspect-edit-{{id}}'>
                {{#aspectEditor aspect=.}}{{/aspectEditor}}
              </div>
            {{/if}}
          </td>
        </tr>
      {{/each}}
        <!--
  .contributors
    h5 Contributors:
    foreach technology.contributors() as contributor
      div(class="contributor pull-left" style='border-left-color: #{contributor.color()}')
        img.img-polaroid(src='#{contributor.photoUrl(40)}')
        <a(href='#{contributor.route()}')= contributor.name()
      -->
    </tbody>
  </table>
</template>
