<template name='tool'>
  <div class='tool-page-actions pull-right'>
    <button class='btn i-use-it {{disableAnonymous}} {{iUseItClass}}'>
      <i class='icon-white icon-thumbs-up'></i>
      <span class='text'> I Use It</span>
    </button>
    <button id='follow-tool' class='btn disabled not-implemented'>Follow {{tool.name}}</button>
    <a id='share' class='btn' href="{{twitterShareUrl}}" target="_blank">
      <i class='icon-twitter'></i> Share {{tool.name}}
    </a>
    {{#if isAdmin}}
      <button id='index-tool' class='btn'>
        <i class='icon-cog'></i> Index
      </button>
    {{/if}}
  </div>

  <h1 class='name'>
    <div class='pull-left'>
      {{#with tool}}
        {{> logoEditable}}
      {{/with}}
    </div>
    <div id='tool-name' class='pull-left' contenteditable='{{tool.nameEditableByCurrentUser}}'>{{tool.name}}</div>
  </h1>
  <div class='clearfix' style='margin:5px'></div>
  <div class='usage'>
    <div class='title'>Used By</div>
    {{#each tool.usedBy}}
      <a class='user-dense' href='{{route}}' rel='tooltip' title='Used by {{name}}'>
        <img class='img-polaroid' src='{{photoUrl 40}}'/>
      </a>
    {{else}}
      <button class='btn i-use-it {{disableAnonymous}}'>
        <i class='icon-white icon-thumbs-up'></i> Be the first to use it
      </button>
    {{/each}}
  </div>
</template>
