<template name='toolProject'>
  <div class='usage'>
    <div class='title'>
      I
      {{#if isNew}}
        use
      {{else}}
        {{#if usingCurrentTool}}
          <button class='use-unuse btn btn-mini btn-success active' rel='tooltip' title='Click to remove {{currentTool.name}} from this project'>already use {{currentTool.name}}</button>
        {{else}}
          <button class='use-unuse btn btn-mini btn-success' rel='tooltip' title='Click to mark that you use {{currentTool.name}} in this project'>would like to use {{currentTool.name}}</button>
        {{/if}}
      {{/if}}
      {{#if name}}
        at project {{name}}
      {{/if}}
      With
    </div>
    {{#if canRemoveProject}}
      <a class="close remove-project pull-right" rel='tooltip' title='Remove Project'>&times;</a>
    {{/if}}
    <input type='text' class='used-with' placeholder='Add tool...'/>
    <input type='hidden' class='used-with-id'/>
    <ul class='inline'>
      {{#each tools}}
        <li>
          {{> _tool}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>