<template name='tools'>
<div class='tools-page-actions pull-right'>
  <button id='add-tool' class='btn btn-primary {{disableAnonymous}}'>Add a Tool</button>
</div>
<h2>Tools</h2>
{{#if isAdmin}}
  <div class='admin pull-right'>
    <button id='index-all-tools' class='btn'>
      <i class='icon-cog'></i> Index All
    </button>
  </div>
{{/if}}

<table class='table'>
  <tbody>
    {{#each tools}}
      <tr>
        <td class='tool-logo-small'>
          <a href='{{route}}'>{{{imgPolaroid}}}</a>
        </td>
        <th>
          <a href='{{route}}'>{{name}}</a>
        </th>
        <td>
          Added by <a href='{{creator.route}}'>{{creator.name}}</a>, {{timeAgo createdAt}}
        </td>
        <td class='used-by'>
          {{#each usedBy}}
            <a class='user-xsmall pull-left' href='{{route}}' rel='tooltip' title='Used by {{name}}'>
              <img class='img-polaroid' src='{{photoUrl 20}}'/>
            </a>
          {{/each}}
        </td>
        <td>
          <button class='btn btn-small i-use-it {{disableAnonymous}} {{iUseItClass .}}'>
            <i class='icon-white icon-thumbs-up'></i>&nbsp;I&nbsp;Use&nbsp;It
          </button>
        </td>
        <td>
          {{#if isCurrentUserOwner .}}
            <div class='pull-right'>
              <a class='action' href='javascript:void(0)' title='Delete {{name}}'>
                <i class='icon-trash'></i>
              </a>
            </div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>