<template name='users'>
<h2>Users:</h2>
<table class='table'>
  {{#each users}}
    <tr>
      <th class='user-line'>
        <a class='user-small' href='{{route}}' style='border-left-color: {{color}}'>
          <img class='img' src='{{photoUrl 20}}'/>
          {{name}}
        </a>
      </th>
      <td>
        {{#each usedTools}}
          <a class='tool-logo-small' href='{{route}}' title='{{name}}' rel='tooltip'>
            {{{imgPolaroid}}}
          </a>
        {{/each}}
      </td>
    </tr>
    {{/each}}
</table>
</template>
