<template name='user'>
<div class='user-page-actions pull-right'>
  <button id='follow-user' class='btn disabled not-implemented'>Follow {{user.name}}</button>
  <button id='share-user' class='btn disabled not-implemented'>Share {{user.name}}'s awesome work!</button>
</div>
<div class='user pull-left' style='border-left-color: {{user.color}}'>
  <img class='img-polaroid' src='{{user.photoUrl 40 }}'/>
</div>
<h1>{{user.name}}'s tools</h1>
<div class='usage'>
  <div class='title'>{{user.name}} Uses</div>
  <ul class="inline">
    {{#each user.usedTools}}
      <li>
        {{> _tool}}
      </li>
    {{/each}}
  </ul>
</div>
</template>
