<template name='user'>
<div class='user-page-actions pull-right'>
  <button id='follow-user' class='btn disabled not-implemented'>Follow {{user.name}}</button>
  <button id='share-user' class='btn disabled not-implemented'>Share {{user.name}}'s awesome work!</button>
</div>
<div class='user pull-left' style='border-left-color: {{user.color}}'>
  <img class='img-polaroid' src='{{user.photoUrl 40 }}'/>
</div>
<h1>Contributions by {{user.name}}</h1>
<table class='table'>
  <thead>
    <tr>
      <th>
        {{user.name}} Uses:
        {{#each user.usedTechnologies}}
          <a class='technology-logo-small' href='{{route}}' title='{{name}}' rel='tooltip' style='margin-left: 3px'>
            {{{imgPolaroid}}}
          </a>
        {{/each}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each user.contributions}}
      {{#if technology}}
        <tr class='contribution'>
          {{#if typeIs 'technology'}}
            <th>
              Created technology
              <a href='{{technology.route}}'>{{technology.name}}</a>
            </th>
            <td class='contribution-data'></td>
            <td>
              <small class='pull-right muted'>Created {{timeAgo technology.createdAt}}, last update {{timeAgo technology.updatedAt}}</small>
            </td>
          {{/if}}
          {{#if typeIs 'aspectContribution'}}
            <th>
              Contributed to
              <a href='{{technology.route}}'>{{technology.name}}</a>
              to aspect
              <span class='label'>{{aspect.name}}</span>
            </th>
            <td class='contribution-data'>
              {{#with content}}
                {{> aspectViewer readonly}}
              {{/with}}
            </td>
            <td>
              <small class='pull-right muted'>Created {{timeAgo content.createdAt}}, last update {{timeAgo content.updatedAt}}</small>
            </td>
          {{/if}}
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
</template>
