<template name='user'>
<div class='user-page-actions pull-right'>
  <button id='follow-user' class='btn disabled not-implemented'>Follow {{user.name}}</button>
  <button id='share-user' class='btn disabled not-implemented'>Share {{user.name}}'s awesome work!</button>
</div>
<div class='user pull-left' style='border-left-color: {{user.color}}'>
  <img class='img-polaroid' src='{{user.photoUrl 40 }}'/>
</div>
<h1>{{user.name}}'s tools</h1>
<table class='table'>
  <thead>
    <tr>
      <th>
        {{user.name}} Uses:
        {{#each user.usedTools}}
          <a class='tool-logo-small' href='{{route}}' title='{{name}}' rel='tooltip' style='margin-left: 3px'>
            {{{imgPolaroid}}}
          </a>
        {{/each}}
      </th>
    </tr>
  </thead>
</table>
</template>
