<template name='_tool'>
  {{#if loggedIn}}
    {{#if inProjectView}}
      {{#if inProject}}
        <a class="close tool-unuse" rel='tooltip' title='{{removeTitle}}'>&times;</a>
      {{/if}}
    {{/if}}
  {{/if}}
  <a class='tool-logo tool-logo-list' href='{{route}}' title='{{name}}' rel='tooltip'>
    {{{imgPolaroid 40}}}
    <span class='tool-caption'>{{name}}<span>
  </a>
  {{#if loggedIn}}
    {{#if inProjectView}}
      {{#if suggested}}
        <a class="tool-use" rel='tooltip' title='Add {{name}}' href='javascript:void 0'><i class="icon-plus-sign icon-2x"></i></a>
      {{/if}}
    {{/if}}
  {{/if}}
</template>