h1= Session.get('technology')

table.table.table-hover
  tr
    th Tagline
    td A better way to build apps.
  tr
    th Websites
    td
      div
        a(href="http://www.meteor.com") http://www.meteor.com
      div
        a(href="https://github.com/meteor/meteor") https://github.com/meteor/meteor
  tr
    th Tutorials
    td
      div
        a(href="http://www.meteor.com/screencast") Screencast
      div
        a(href="http://net.tutsplus.com/tutorials/javascript-ajax/prototyping-with-meteor/") Prototyping With Meteor
