.contribution-actions {
  display: none;
}
tr:hover .contribution-actions {
  display: block;
}

@contribution-border-width: 6px;
.contribution {
  padding-left: 10px;
  padding-right: 150px;
  border-left: @contribution-border-width solid white;
}
.gutter-author-1 {
  border-left: @contribution-border-width solid rgb(195, 228, 228);
}
