.technologies-page-actions
  .pull-right
    button#add-technology.btn.btn-primary(class='#{Meteor.userId() ? "" : "disabled"}') Add Technology

h2 Technologies

table.table
  foreach technologies as technology
    tr
      th
        a(href='/technology/#{technology._id}/#{technology.name}')= technology.name
